---
import { workshop } from '../data/workshop';
---

<ul class="topic-grid">
  {workshop.topics.map((topic, index) => (
    <li><span>{String(index + 1).padStart(2, '0')}</span>{topic}</li>
  ))}
</ul>
